.text-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.space-bottom {
  margin-bottom: var(--space);
}

@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.a-reset {
  color: inherit;
  text-decoration: inherit;
}

.a-full {
  @include full;
}

.primary-text {
  background: linear-gradient(to right, var(--primary-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accent-text {
  background: linear-gradient(to right, var(--accent-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-interactive {
  box-shadow: var(--shadow);
  transition: transform .3s, background-color .3s, box-shadow .6s;

  &:hover {
    transform: translateY(-5%);
    box-shadow: var(--shadow-hover);
  }
}