.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.a-reset {
	color: inherit;
	text-decoration: inherit;
}

.a-full {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}